mixin panel()

  - const {items} = require('../panel/data.json')

  .panel
    .js-panel__control.panel__control
      each item in items
        label.panel__label
          span.panel__input-header= item.header
          input(class="panel__input panel__input_name-" + item.name, type=item.type) 
    .panel__example.js-panel__example 
