mixin panel(options)

  .panel
    .panel__example 
    .panel__control
      label.panel__range
        input.panel__range-checkbox(type='checkbox')
        span.panel__range-text Range
      label.panel__vertical
        input.panel__vertical-checkbox(type='checkbox')
        span.panel__vertical-text Vertical