mixin panel(options)

  .panel
    .panel__control
      div(style='display: flex; gap: 10px;')
        label.panel__label
          span.panel__input-header Range
          input.panel__range-checkbox(type='checkbox')      
        label.panel__label
          span.panel__input-header Vertical
          input.panel__vertical-checkbox(type='checkbox')
        label.panel__label
          span.panel__input-header Tip
          input.panel__tip-checkbox(type='checkbox')
      label.panel__label
        span.panel__input-header Number marks
        input.panel__input.panel__number-marks-checkbox(type='number')
      label.panel__label
        span.panel__input-header Min
        input.panel__input.panel__min-checkbox(type='number')
      label.panel__label
        span.panel__input-header Max
        input.panel__input.panel__max-checkbox(type='number')
      label.panel__label
        span.panel__input-header From
        input.panel__input.panel__from-checkbox(type='number')
      label.panel__label
        span.panel__input-header To
        input.panel__input.panel__to-checkbox(type='number')
      label.panel__label
        span.panel__input-header Step
        input.panel__input.panel__step-checkbox(type='number')
    .panel__example  
        