mixin panel(options)
  -
    const items = [
      {header: 'Range:', name: 'range', type: 'checkbox'},
      {header: 'Vertical:', name: 'vertical', type: 'checkbox'},
      {header: 'Tip:', name: 'tip', type: 'checkbox'},
      {header: 'Scale:', name: 'scale', type: 'checkbox'},
      {header: 'Min:', name: 'min', type: 'number'},
      {header: 'Max:', name: 'max', type: 'number'},
      {header: 'From:', name: 'from', type: 'number'},
      {header: 'To:', name: 'to', type: 'number'},
      {header: 'Step:', name: 'step', type: 'number'},
    ]

  .panel
    .js-panel__control.panel__control
      each item in items
        label.panel__label
          span.panel__input-header= item.header
          input(class="panel__input panel__input_name-" + item.name, type=item.type) 
    .panel__example.js-panel__example 
