.panel {
  display: flex;
  min-width: 500px;
  width: calc(50% - 20px);
  flex-grow: 1;
  border: 2px solid gray;
  border-radius: 4px;
  background-color: white;

  &__example {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 40px;
  }

  &__control {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    border-right: 2px solid gray;
  }

  &__label {
    display: flex;
    width: 150px;
    justify-content: space-between;
    cursor: pointer;
    word-break: break-word;
  }

  &__input {
    max-width: 90px;
  }
}
